#Text:hover {
    cursor: pointer;
    position: absolute;
    top: 50%;
    left: 45%;
    background: rgba(0, 0, 0,0.75);
    transition: 0.5s;
    box-shadow: 5px 36px 36px 0 rgba(0,0,0,0.24);
    color: rgb(255, 255, 255);
    border: 0cm;
    border-radius: 20px;
}
#Text{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-shadow: 0 16px 16px 0 rgba(0,0,0,0.24);
    color: rgb(255, 255, 255);
    background: rgba(17, 118, 185, 0.75);
    position: absolute;
    top: 50%;
    left: 45%;
    font-size: 70px;
    transition: 0.5s;
    border: 0cm;
    outline: none;
    border-radius: 15px;
}
#Text:active{
    position: absolute;
    top: 50%;
    left: 45%;
    background: rgb(255, 255, 255);
    color: rgba(0, 0, 0,0.75);
    box-shadow: 0 16px 16px 0px rgba(0,0,0,0.24);
    border: 0cm;
    border-radius: 10px;
    outline: none;
    border-color: rgba(0, 0, 0,0.75);
    transition: 0.2s;
}